<% provide(:title, "New Scientific Study Article")%>
<div class="row">
	<div class="span8">
		<%= render 'form' %>\
	</div>
</div>
<div class="row">
	<ul class="breadcrumb">
		<li>
			<a href='/'><i class="icon-home"></i> Chinese-Meds Home</a> <span class="divider">/</span>
		</li>
		<li>
			<a href='/scientific_studies'><i class="icon-book"></i> All Scientific Study Articles</a> <span class="divider">/</span>
		</li>
		<li class="active">
			<i class="icon-plus-sign"></i> New Scientific Study Article
		</li>
	</ul>
</div>
