<div class="row">
	<div class="span10 offset1">
		<div class="well well-large">
			Browse through 50+ fundamental herbs of traditional Chinese medicine!
			<%= form_tag herbs_path, :method => :get do %>
			<br>
			<%= text_field_tag :search, params[:search], :placeholder => "Search for an herb" %>
			<%= submit_tag "Find me an herb!", :name => nil %>
			
			<% end %>


		</div>
		<div class="center hero-unit" id="homeContent">
		  
			<%= image_tag("chinesemeds.jpeg", alt: "ChineseMeds") %>
			
		  <h2>
		    contains articles and citations on traditional Chinese medicine, the 50 Fundamental Herbs, extracts, teas, health supplements, and more.
		  </h2>
		
		  
		                              
		</div>
	</div>
</div>	
<div class="row">
	<br><br>
	<ul class="breadcrumb">
		<li class="active">
			<a><i class="icon-home"></i> Chinese-Meds Home</a>

		
	</ul>
</div>
