<div class="row">
	<div class="span10 offset1">
		<div class="center hero-unit" id="homeContent">
		  	<div class="well well-large">
			<div class="smallmessage">

			Search for an herb or related keywords and find the most relevant herbs in Traditional Chinese Medicine!
			</div>
			<%= form_tag search_path, :method => :get do %>
			<br>
			<i class="icon-search"></i>
			<%= text_field_tag :search, params[:search], "placeholder" => "E.g. Maitake, or Diabetes", "data-provide" => "typeahead" %>


			<%= submit_tag "Find me an Herb!", :class => 'btn', :name => nil %>
			
			<% end %>


		</div>
			<%= image_tag("chinesemeds.jpeg", alt: "ChineseMeds") %>

		
		  
		                              
		</div>
	</div>
</div>	
<div class="row">
	<br><br>
	<ul class="breadcrumb">
		<li class="active">
			<a><i class="icon-home"></i> Chinese-Meds Home</a>

		
	</ul>
</div>
