<% if @acupuncture.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(@acupuncture.errors.count, "error") %>
    </div>
    <ul>
    <% @acupuncture.errors.full_messages.each do |msg| %>
      <li>* <%= msg %> </li>
    <% end %>
    </ul>
  </div>
<% end %>
   
