<% provide(:title, "New Article")%>
<%= render 'form' %>

<ul class="breadcrumb">
	<li>
		<a href='/'>Chinese-Meds Home</a> <span class="divider">/</span>
	</li>
	<li>
		<a href='/articles'>All Articles</a> <span class="divider">/</span>
	</li>
	<li class="active">
		New Article
	</li>
</ul>