<% if @admin.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(@admin.errors.count, "error")
    </div>
    <ul>
    <% @admin.errors.full_messages.each do |msg| %>
      <li>* <%= msg %> </li>
    <% end %>
    </ul>
  </div>
<% end %>
   
