<div class="subnav subnav-fixed">
  <div class="second-header">
    <ul class="nav nav-pills">
      <li>
        <a href="#names">Names</a>
      </li><li class="divider-vertical"></li>
      <li>
        <a href="#overview">Overview</a>
      </li><li class="divider-vertical"></li>
      <li>
        <a href="#physicaldescription">Physical Description</a>
      </li><li class="divider-vertical"></li>
      <li>
        <a href="#chemicalcomposition">Chemical Composition</a>
      </li><li class="divider-vertical"></li>
      <li>
        <a href="#medicinaldescription">Medicinal Description</a>
      </li><li class="divider-vertical"></li>
      <li>
        <a href="#precautions">Precautions</a>
      </li><li class="divider-vertical"></li>
      <li>
        <a href="#sideeffects">Side-Effects</a>
      </li><li class="divider-vertical"></li>
      <li>
        <a href="#recentstudies">Recent Studies</a>
      </li><li class="divider-vertical"></li>
    </ul>
  </div>
</div>