<% provide(:title, "New Cupping")%>
<div class="row-fluid">
	<div class="span8">
		<%= render 'form' %>\
	</div>
</div>
<div class="row-fluid">
	<ul class="breadcrumb">
		<li>
			<a href='/'><i class="icon-home"></i> Chinese-Meds Home</a> <span class="divider">/</span>
		</li>
		<li>
			<a href='/cuppings'><i class="icon-book"></i> All Cupping Articles</a> <span class="divider">/</span>
		</li>
		<li class="active">
			<i class="icon-plus-sign"></i> New Cupping Article
		</li>
	</ul>
</div>
