@import "bootstrap";

$grayMediumLight: #eaeaea;
$greenLight: #C4E1C4;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

@font-face {
    font-family: 'JournalRegular';
    src: url('/Font/journal-webfont.eot');
    src: url('/Font/journal-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Font/journal-webfont.woff') format('woff'),
         url('/Font/journal-webfont.ttf') format('truetype'),
         url('/Font/journal-webfont.svg#JournalRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}



/* universal */

html {
  overflow-y: scroll;
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

body {
  padding-top: 60px;
  margin: 0;
  padding: 0;
  background-color: #FBFBFB;
  
  
}

#main-body {
  padding-top: 140px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;

  a {
    color: $gray;
    

    &:hover { 
      color: $grayDarker;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;
  

    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* header */

header {
  background-color: #03507B;
  color: #333333;
  font-family: Tahoma, Geneva, sans-serif;
  padding: 4px 100px;
  border-bottom: solid 5px #00395A;
}

#logo {
  float: left;
  font-family: 'JournalRegular';
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  
  color: #fff;
  text-decoration: none;
}

#navBar {
  background-color: #d59859;
}

.second-header {
  margin: auto;
  width: 1170px;
}

.subnav-fixed {
  position: fixed;
  top: 100px;
  left:0;
  right:0;
  z-index: 1020;
  border-color: #DCC8A1;
  border-width: 0 0 1px;
  border-radius: 0;
  box-shadow: inset 0 1px 0 white, 0 1px 5px rgba(0, 0, 0, .1);
}

.subnav {
  width: 100%;
  height:36px;
  background-color: #F5F5F5;
  background-repeat: repeat-x;
  border: 1px solid #bbb;
  border-radius: 4px;
}


/* home */
#homeContent {
  border: 1px solid #bbb;
  background-color: #fff;
  
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

 #form-body {
  padding-top: 60px;


 }
 #form-entries {
  border: 1px solid #E5E5E5;
  padding: 70px;
  background-color: white;
      
  }

.searchbox {
  textfield {
    height: 30px;
  }
  width: 150px;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
  
}

.content {
  display: block;
}
.timestamp {
  color: $grayLight;
  float: right;
  
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  
  }
}


//* Herb Show CSS *//
#herbsidebar {  
    float: left;   
    background-color: white;
      
}  



.herb-descriptors {
  
  font-family: 'JournalRegular';
  font-size: 3.0em;
  margin-bottom: .1em;
  padding: 10px;
  line-height: 1.2em;
  
  text-align:left;
  
  
  border-bottom: 1px solid black;
}

#herb-name {

  font-size: 3.5em;

}

#herbShow {
  
  border: 1px solid #bbb;
  padding-left: 10px;
  padding-bottom: 50px;
  background-color: white;
}



//* Herb Index *//



.herbs {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

#allHerbs {
  background-color: white;
  padding: 100px;
  border: 1px solid $grayLighter;
}


