// Grays
// -------------------------
$black:                 #000;
$grayDarker:            #222;
$grayDark:              #333;
$gray:                  #555;
$grayLight:             #999;
$grayLighter:           #eee;
$white:                 #fff;
$grayMediumLight:       #eaeaea;


// Accent colors
// -------------------------
$blue:                  #049cdb;
$blueDark:              #0064cd;
$green:                 #46a546;
$red:                   #9d261d;
$yellow:                #ffc40d;
$orange:                #f89406;
$pink:                  #c3325f;
$purple:                #7a43b6;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

@font-face {
    font-family: 'JournalRegular';
    src: url('/Font/journal-webfont.eot');
    src: url('/Font/journal-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Font/journal-webfont.woff') format('woff'),
         url('/Font/journal-webfont.ttf') format('truetype'),
         url('/Font/journal-webfont.svg#JournalRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}




/* universal */

html {
  overflow-y: scroll;
}


section {
  overflow: auto;
  padding: 120px;
  background-color: #fff;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

body {
  font-family: Tahoma, Geneva, sans-serif;
}

#main-body {
  padding-top: 40px;
  
  
}

/* buttons */
.btn btn-large btn-primary {
  color: white;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-weight: normal;
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


.title {
  font-family: 'JournalRegular';
  font-size: 5.5em;
  text-align: center;
}


.subtitle {
  padding-bottom: 50px;
  text-align: center;
  font-size: 2.5em;
  border-bottom: 1px solid $grayMediumLight;
}


.message {
  font-family: 'JournalRegular';
  font-size: 4.0em;
  text-align: center;
  padding-bottom: 30px;
}

.smallmessage {
  font-family: 'JournalRegular';
  font-size: 3.3em;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 1.2;
}

.banner {
  font-family: 'JournalRegular';
  text-align: right;
  margin-top: -80px;
  font-size: 2em;
  a {
    -webkit-transition: all .2s linear;
  }

}


/* home */

.home {
  background-image:url('background.jpg');

}

.homeContent {
  background-color: transparent;
  
  
  
  
}

#Browse {
  margin-top: 60px;
}

#mainIntro {
  background-color: transparent;

}

#mainDescription {
  text-align: left;
  &:hover { 
    color: white;
    -webkit-transition: all .3s linear;
    }

}

#mainSelect {
  color: black;
  .btn {
    margin-bottom:15px;
  }
}

#homeRow1 {
  textarea, select, .uneditable-input {
    width: 60%;
  }
  margin-right: -30px;
  margin-bottom: -50px;
  color: $grayLighter;
  
}

#searchhelp {
  font-size: 1.1em;
  line-height: 1.3;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLighter;


  a {
    color: $grayLight;
    
    -webkit-transition: all .2s linear;
    

    &:hover { 
      color: $grayLighter;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;
  

    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* header */


#logo {
  font-size: 2.5em;
  text-align: left;
  text-transform: snakecase;
  -webkit-transition: all .3s linear;
  margin-left: -60px;
  margin-top: -30px;
  font-weight: normal;
}


#logoTail {
  color:white;
  font-size: .4em;
}


/* forms */

input, textarea, select, .uneditable-input {
  @include box_sizing;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

 #form-body {
  padding-top: 30px;
  input, textarea, select, .uneditable-input {
    width: 100%;
  }


 }
 #form-entries {
  border: 1px solid #E5E5E5;
  padding: 70px;
  background-color: white;
      
  }

.searchbox {
  textfield {
    height: 30px;
  }
  width: 300px;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
  
}

.content {
  display: block;
}
.timestamp {
  color: $grayLight;
  float: right;
  
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  
  }
}


//* Herb Show CSS *//
#herbsidebar {  
    float: left;   
    background-color: white;
      
}  



.herb-descriptors {
  
  font-family: 'JournalRegular';
  font-size: 3.0em;
  margin-bottom: .1em;
  padding: 10px;
  line-height: 1.2em;
  
  text-align:left;
  
  
  border-bottom: 1px solid black;
}

#herb-name {
  text-align: left;
  font-size: 3.5em;

}

#herbShow {
  
  border: 1px solid #bbb;
  padding-left: 10px;
  padding-bottom: 50px;
  background-color: white;
}



//* Herb Index *//



.herbs {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

#allHerbs {

  background-color: white;
  border: 1px solid $grayLighter;
  padding: 30px;
}


//* Herbs Search *//



#first_row {

  #firstresult {
    font-size: 1.1em;
  }
  
  border-bottom: 1px solid $grayLighter;
  padding-bottom: 30px;
}

#subsequent_rows {
  border-bottom: 1px solid $grayLighter;
  padding-bottom: 30px;

}


//* Traditional Chinese Medicine *//

.TCMmain {

  .row-fluid {
    padding-bottom: 40px;
    .span4 {
      font-size: 1.2em;
    }
  }
  

  h3 {
  padding-bottom: 7px;
  line-height: 1.4em;
    
  }

}

#TCMintro {
  font-size: 1.5em;
  line-height: 1.4em;
  padding-bottom: 25px;
}


//* Breadcrumb *//



.breadcrumb {
  color: $grayLighter;
  border: none;
  margin: 0 0 20px;
  margin-top: 40px;
  list-style: none;
  background-color: transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.breadcrumb li {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  text-shadow: none;
}
.breadcrumb .divider {
  padding: 5px;
  color: #ccc;
}
.breadcrumb .active {
  color: $grayDark;
  a {
    color: $grayLight;
  }
}

//* Tab *//
.tab-content {
  overflow: visible;
}