<% if signed_in? %>
	<div class="btn-group">
					    		
		<button class="btn">
			<i class="icon-edit"></i> 
			<%= link_to 'Edit', edit_herb_path(herb) %> 
		</button>
						   		
		<button class="btn">
			<i class="icon-trash"></i> 
			<%= link_to 'Destroy', herb, confirm: 'Deleting the herb will permanently remove it from the vault. Are you sure?', method: :delete %> 
		</button>
	</div>
					    	
<% end %>

<div class="row">
<div class="btn-group">
	<button class="btn"><a href="/herbs/new">New Herb</a></button>
</div>
	<br><br>
</div>