<%= image_tag "chinesemeds.jpg", :class=>"img-polaroid", :height=>"160", :width=>"190" %>

<div id="formSideBar">
  <ul class="nav nav-pills nav-stacked" data-spy="affix">
    <li>
      <a href="#names">Names</a>
    </li>
    <li>
      <a href="#overview">Overview</a>
    </li>
    <li>
      <a href="#physicaldescription">Physical Description</a>
    </li>
    <li>
      <a href="#chemicalcomposition">Chemical Composition</a>
    </li>
    <li>
      <a href="#medicinaldescription">Medicinal Description</a>
    </li>
    <li>
      <a href="#precautions">Precautions</a>
    </li>
    <li>
      <a href="#sideeffects">Side-Effects</a>
    </li>
    <li>
      <a href="#recentstudies">Recent Studies</a>
    </li>

  </ul>
</div>