 <a class="btn" data-toggle="modal" href="#StyleModal"><i class="icon-pencil"></i> Getting Started</a>

 <div class="modal hide" id="StyleModal">
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><i class="icon-remove"></i></button>
    <h3>Styles for Writing and Editting Articles</h3>
   </div>
   <div class="modal-body">
    <h4>Chinese-Meds</h4>
    <p>is a community-sourced project, which values the expertise and
      knowledge of its users. This is why it ensures that the contributing process
      is as simple and burdenless as possible. 
      Utilizing an easy to use Markup language called "Markdown", 
      the text areas can easily be organized and stylized by almost anyone!
    </p><br>
    <h5><i class="icon-edit"></i> Headings</h5>
    <p>Headings can be implemented using hash prefixes before the header name.
      <br>
      # First-level heading<br>
      ### Third-level heading
    </p><br>
    <h5><i class="icon-list"></i> Lists</h5>
    <p>Lists can be created by following the example below:
      <br><br>
      * An item in a bulleted list
      <blockquote>    * A subitem, indented with 4 spaces</blockquote>
      * Another item in bulleted list<br>
      <br>
      Alternatively:
      <br><br>
      1. An item in an enumerated list<br>
      2. Another item in an enumerated list<br>
    </p><br>
    <h5><i class="icon-bold"></i> Text Emphasis</h5>
    <p>Texts can be emphasized as such:
      <br><br>
      *emphasis* or _emphasis_  (e.g., italics)
      <br><br>
      **strong emphasis** or __strong emphasis__ (e.g., boldface)
    </p><br>
    <h5><i class="icon-align-justify"></i> Blocks of Quotes</h5>
    <p>You can use a ">" to create blocks of quotes:<br><br>
      <blockquote>>"This text will be enclosed in an HTML blockquote element.</blockquote>
      
    </p><br>
    <h5><i class="icon-tags"></i> Links</h5>
    <p>Links can be integrated into the text using brackets:<br>
      <br>
      [link text here](link.address.here)
    </p><br>
    <h5><i class="icon-resize-horizontal"></i> Horizontal Lines</h5>
    <p>Horizontal lines can be produced by three asterisks. <br><br>
      ***
    </p>
    <br>
    <p>For additional Markdown syntax, check out <a href="http://en.wikipedia.org/wiki/Markdown">Wikipedia</a>!
    </p>
   </div>
   <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Back to editting article!</a>
    
   </div>
 </div>