<% provide(:title, "New Herb")%>
<div class="row-fluid">
  <div class="span2">
    <%= render 'form_sidebar'%>
  </div>
	<div class="span10">
		<%= render 'form' %>\
	</div>
</div>
<div class="row-fluid">
	<ul class="breadcrumb">
		<li>
			<a href='/'><i class="icon-home"></i> Chinese-Meds.com Home</a> <span class="divider">/</span>
		</li>
		<li>
			<a href='/herbs'><i class="icon-book"></i> All Herbs</a> <span class="divider">/</span>
		</li>
		<li class="active">
			<i class="icon-plus-sign"></i> New Herb
		</li>
	</ul>
</div>
