<footer class="footer">
  <small>© Chinese-Meds.com 2012</small>
  
  <nav>
    <ul>
      <li><a href="http://apothecary1884.com">Shop</a></li>
      <li class="divider-vertical">/</li>
      <li><%= link_to "Admin", signin_path %></li>
      
    </ul>
  </nav>
</footer>