<footer class="footer">
  <small>
    Questions? <li><%= link_to "Contact Us"%></li>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About Chinese-Meds",   about_path %></li>
      <li><%= link_to "Admin", signin_path %></li>
      <li><a href="#">Privacy Policy</a></li>
    </ul>
  </nav>
</footer>